{% extends 'base.html.twig' %}

{% block title %}Whishliste index{% endblock %}

{% block body %}
    <h1>Whishliste index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>numero</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for whishliste in whishlistes %}
            <tr>
                <td>{{ whishliste.id }}</td>
                <td>
                    <a href="{{ path('app_whishliste_show', {'id': whishliste.id}) }}">show</a>
                    <a href="{{ path('app_whishliste_edit', {'id': whishliste.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_whishliste_new') }}">Create new</a>
{% endblock %}
