
{% extends 'base.html.twig' %}

{% block title %}New Whishliste{% endblock %}

{% block body %}
    <h1>Create new Whishliste</h1>

    {{ include('whishliste/_form.html.twig') }}

    <a href="{{ path('app_whishliste_index') }}">back to list</a>
    
{% endblock %}