
{% extends 'base.html.twig' %}

{% block title %}New Wishlist{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-primary mb-4">Create a New Wishlist</h1>

    <div class="card shadow p-4 bg-white">
        {{ form_start(form, { 'attr': { 'class': 'form-horizontal' } }) }}

            {{ form_widget(form, { 'attr': { 'class': 'form-control mb-3' } }) }}

            <div class="d-flex justify-content-between">

                <button type="submit" class="btn btn-primary btn-sm ">Save</button>
                
                <a href="{{ path('app_whishliste_index') }}" class="btn btn-secondary btn-sm w-40">Back to list</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
