{% extends 'base.html.twig' %}

{% block title %}Modifier le Panier{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Modifier le Panier</h1>

        <!-- Formulaire pour modifier un panier -->
        <div class="card">
            <div class="card-body">
                {{ include('panier/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
        </div>

        <!-- Lien pour revenir à la liste -->
        <div class="mt-3 d-flex justify-content-between">
            <a href="{{ path('app_panier_index') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>

    </div>
{% endblock %}






