{% extends 'Admin.html.twig' %}

{% block title %}Hello CtegoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper container mt-5">
    <div class="card shadow-sm">
       <div class="card-header bg-secondary text-white text-center">
            <h4 class="mb-0 fw-bold text-dark">Details category</h4>
        </div>
        <div class="card-body">
            <p><strong>ID :</strong> {{ category.id }}</p>
            <p><strong>Titre :</strong> {{ category.titre }}</p>
            <p><strong>Description :</strong> {{ category.description }}</p>
        </div>
       
    </div>
</div>
{% endblock %}
